<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>

 <link href="assets/mycss/likeandNotification.css" rel="stylesheet">
 
<script src="js/MainRoute.js"></script>



<script src="controllers/userController.js"></script>
<script src="services/userservice.js"></script>
<script src="controllers/blogpostcontroller.js"></script>
<script src="services/blogpostService.js"></script>
<script src="controllers/blogpostdetailcontroller.js"></script>
<script src="controllers/homeController.js"></script>

<script src="controllers/jobcontroller.js"></script>
<script src="services/jobservice.js"></script>



<script src="controllers/friendcontroller.js"></script>
<script src="services/friendservice.js"></script>

<script src="controllers/Chatcontroller.js"></script>
<script src="services/ChatService.js"></script>


</head>


<body ng-app="app">


<header>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="container-fluid">
   
  				
  
    
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-example" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
     <div class="navbar-header">
     <a class="navbar-brand" href="#/">RR</a>
     
     </div>
     
     
     
   
     
   <div class="collapse navbar-collapse" id="collapse-example">
  
  <ul class="nav navbar-nav" >
  <li class="active"><a href="#/home"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
  <li><a href="#/editprofile" ng-show="currentUser.isOnline"><span class="glyphicon glyphicon-log-in"></span> Edit Profile</a></li>
 
  <!-- --------------------------------------------------------------------------------------------------- -->
      <li><a href="#/myprofile" >Profile</a></li>
  
 
     <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" >Home news <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li><a href="#/addhomepost" >Add Home Post</a></li>
  </ul></li>
   <!-- --------------------------------------------------------------------------------------------------- -->
    
  <li><a href="#/uploadprofilepic" ng-show="currentUser.isOnline" >
  <img src="http://localhost:8084/RestController/getimage/{{currentUser.username}}" height="40px" width="40px" alt="upload profile pic" ng-show="currentUser.username"></a></li>
  
  
   <!-- <li><a href="#/profileInfo">profileInfo</a></li>
    <li><a href="#/pro">pro</a></li> -->
    
   <!--  <li><a href="#/chat">Chat</a></li> -->
  
   <!-- --------------------------------------------------------------------------------------------------- -->
  
   <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" >Friend <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li><a href="#/getsuggestedusers" >List of Suggested users</a></li>
     <li><a href="#/pendingrequests" >Pending Friend Request</a></li>
     <li><a href="#/friendslist" >Friends List</a></li>
     
     
     <li><a href="#/chat" ng-show="currentUser.username">chat </a></li>
   <!--   <li><a href="#" ng-hide="currentUser.firstName==undefined"> Welcome {{currentUser.firstName}}</a></li> -->
   
    </ul> </li>
  
   <!-- --------------------------------------------------------------------------------------------------- -->
   <li class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" ng-show="currentUser.username"> 
	<span class="glyphicon glyphicon-globe" ng-click="updateLength()"> 
	<span class="rw-number-notification" ng-if="approvalStatusLength>0">{{approvalStatusLength}}</span></span></a>
	
	<ul class="dropdown-menu">
	<li ng-repeat="blogPost in blogApprovalStatus"><a
	href="" ng-click="updateViewedStatus(blogPost)">BlogPost titled <b>"{{blogPost.blogTitle}}"</b>
	is <span ng-if="blogPost.approved">Approved</span>
   <span ng-if="!blogPost.approved"><div class="container">
   rejected	for the reason {{blogPost.rejectionReason}}</div>
		</span>	</a></li></ul></li>
  
  
  
  <!-- --------------------------------------------------------------------------------------------------- -->
  
  
    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" >Blog <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li><a href="#/addblogpost" >Add Blog Post</a></li>
    <li><a href="#/getblogs" >get All Blogs</a></li>
    </ul> </li>
  
   <!-- --------------------------------------------------------------------------------------------------- -->
  
  <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" >Job <b class="caret"></b></a>
    <ul class="dropdown-menu">
    
    <li><a href="#/addjob" ng-show="currentUser.role=='ADMIN' ">Add Job</a></li>
   <li><a href="#/getalljobs" ng-hide="currentUser.role=='ADMIN' ">Get All Jobs</a></li>
 
    </ul> </li>
 <!-- --------------------------------------------------------------------------------------------------- -->

<!-- <li><a href="#/demo" >Demo</a></li>
 -->
  </ul>
     
 
 <!--  ng-hide="currentUser.online" -->
 <!--  ng-show="currentUser.online" {{currentUser.firstname}} {{currentUser.surname}}-->
      
 <ul class="nav navbar-nav navbar-right">
   
   <li><a href="#" ng-show="currentUser.isOnline" >Welcome {{currentUser.firstname}} {{currentUser.surname}}</a></li>
   <li><a href="#/register" ng-hide="currentUser.isOnline"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
   <li><a href="#/login" ng-hide="currentUser.isOnline"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    
  
   
    
<li><a href="" ng-click="logout()" ng-show="currentUser.isOnline" ><span class="glyphicon glyphicon-off"></span> Logout</a></li> 
   

 
    


   
    </ul></div>
  
  
  </div>   
</nav>
</header> <br><br><br><br><br>
<div ng-view></div>

</body>
</html>