 <div ng-show="currentUser.role=='ADMIN'"> 

<!-- <div class="col-sm-11"  class="row" style="text-align: center; width="400px"> -->

<div>

<h2 style="text-align: center; color: #0000b3"><font face="Algerian"><strong>List of Blogs Waiting for Approval</strong></font></h2>

<br>
<!-- <h3><center><strong><b>List of Blogs Waiting for Approval</b></strong></center></h3> -->




<table class="table table-hover table-responsive" class="col-sm-11">
<thead>
<tr>
<th>Blog Title</th>
<th>Author</th>
<th>Posted On</th></tr>
</thead>

<tbody>
<tr ng-repeat="blogPost in listOfBlogsWaitingForApproval">
<td><img src="http://localhost:8084/RestController/getimage/{{blogPost.postedBy.username}}" height="60px" width="60px" 
               alt="Image Not Available" class="img-circle"  ></td>
 <td><a href="#/getapprovalform/{{blogPost.id}}">{{blogPost.blogTitle}}</a></td>

<td>{{blogPost.postedBy.username}}</td>
<td>{{blogPost.postedOn | date : 'MM/dd/yyyy HH:mm'}}</td>

</tr>
</tbody>
</table>

</div></div>

<div>
<div>

<h2 style="text-align: center; color: #0000b3"><font face="Algerian"><strong>List of Blogs which are approved</strong></font></h2>

<br>

<!-- <h3><center><strong><b>List of Blogs which are approved</b></strong></center></h3> -->

<table class="table table-hover table-responsive" class="col-sm-11">
<thead>
<tr>
<th>Blog Title</th>
<th>Author</th>
<th>Posted On</th></tr>
</thead>

<tbody>
<tr ng-repeat="blogPost in listOfBlogsApproved">



<td><img src="http://localhost:8084/RestController/getimage/{{blogPost.postedBy.username}}" height="60px" width="60px" 
               alt="Image Not Available" class="img-circle"  ></td>
<td><a href="#/getblogbyid/{{blogPost.id}}">{{blogPost.blogTitle}}</a></td>

<td>{{blogPost.postedBy.username}}</td>
<td>{{blogPost.postedOn | date : 'MM/dd/yyyy HH:mm'}}</td>
</tr>
</tbody>
</table>



</div>