<head>
<meta charset="ISO-8859-1">
<style type="text/css">
body
{
    background-image: url("image/thr.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
}
</style>
</head>
  


<div class="container">


<div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-9">
	<h2  style="text-align: center; color: blue"><font face="Algerian"><h2><b><strong>Add New Job</strong></b></h2></font></h2><br><br>
		
		
		<span style="color:red">{{error}}</span>
			<form>
					<table class="table table-hover" style="color:black; box-shadow: 5px 5px 5px #000;" >
						<tr>  
							<th>Job Title</th>
							<td><input type="text" maxlength="255" placeholder="Enter Job Title" data-ng-model="job.jobTitle"/></td>
						</tr>
						<tr>
							<th>Organization Name</th>
							<td><input type="text" maxlength="200" placeholder="Enter Company Name" data-ng-model="job.companyname"/></td>
						</tr>
						<tr>
							<th>Skills Required</th>
							<td><input type="text" maxlength="200" placeholder="Enter the value skills Required"  data-ng-model="job.skillsRequired"/></td>
						</tr>
						<tr>
							<th>Location</th>
							<td><input type="text" maxlength="200" placeholder="Enter Job Location" data-ng-model="job.location"/></td>
						</tr>
						<tr>
							<th>Position Offered</th>
							<td><input type="text" maxlength="200" placeholder="Enter Offered Position" data-ng-model="job.position"/></td>
						</tr>
						<tr>
							<th>Package Offered</th>
							<td><input type="text" maxlength="100" placeholder="Enter Package Offered" data-ng-model="job.salary"/></td>
						</tr>
						<tr>
							<th>Qualification 10th</th>
							<td><select data-ng-model='job.q_10' required="required">
			                        <option value="NIL"></option>
			                        <option value="50.0%">50.0%</option>
			                        <option value="55.0%">55.0%</option>
			                        <option value="60.0%">60.0%</option>
			                        <option value="65.0%">65.0%</option>
			                        <option value="70.0%">70.0%</option>
			                        <option value="75.0%">75.0%</option>
                    		</select></td>
						</tr>
						<tr>
							<th>Qualification 12th</th>
							<td><select data-ng-model='job.q_12' required="required">
			                        <option value="NIL"></option>
			                        <option value="50.0%">50.0%</option>
			                        <option value="55.0%">55.0%</option>
			                        <option value="60.0%">60.0%</option>
			                        <option value="65.0%">65.0%</option>
			                        <option value="70.0%">70.0%</option>
			                        <option value="75.0%">75.0%</option>
                    		</select></td>
						</tr>
						<tr>
							<th>Qualification Graduation</th>
							<td><select data-ng-model='job.q_ug' required="required">
									<option value="NIL"></option>
			                        <option value="50.0%">50.0%</option>
			                        <option value="55.0%">55.0%</option>
			                        <option value="60.0%">60.0%</option>
			                        <option value="65.0%">65.0%</option>
			                        <option value="70.0%">70.0%</option>
			                        <option value="75.0%">75.0%</option>
                    		</select></td>
						</tr>
						<tr>
							<th>Vacancy Available</th>
							<td><input type="text" maxlength="5" placeholder="Vacancies Available"  data-ng-model="job.vacancy"/></td>
						</tr>
						<tr>
							<th>Description</th>
							<td><textarea rows="2" cols="50" placeholder="Describe offered position here and Experience" data-ng-model="job.jobDescription"></textarea></td>
						</tr>
						
					<tr>
						
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<input type="submit" class="btn btn-primary btn-lg" value="Post Job" ng-click="addJob()">
				</td>
				<td><button  type="reset" class="btn btn-danger btn-lg" >Reset Data</button></td>
						</tr>
					</table>
			</form>
		</div>
		
	</div>
	</div>
	
<br>




<pre></pre>

<div>
<div ng-init=getAllJobs()>
<h2  style="text-align: center; color: blue"><font face="Algerian"><h2><b><strong>Available Jobs</strong></b></h2></font></h2>

<br><br>
<div style="color:black; box-shadow: 5px 5px 5px #000;" >
<center><span ng-if="jobs.length==0"><b><h2><strong>No Job Available here </strong></h2></b></span></center>

<table class="table table-striped" >
<thead>
<tr><th>Job Title</th><th>Job Package</th><th>Company name</th><th>Skills Required</th><th>Position</th><th>Vacancy</th><th>Job Location</th><th>Posted On </th><th>Action</th></tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs">

<td>{{job.jobTitle}}</td>
<td>{{job.salary}}</td>
<td>{{job.companyname}}</td>
<td>{{job.skillsRequired }}</td>
<td>{{job.position}}</td>
<td>{{job.vacancy}}</td>
<td>{{job.location}}</td>

<td>{{job.postedOn | date :'dd/MM/yy hh:mm'}}</td>
<td><button  ng-show="currentUser.role=='ADMIN'" class="btn btn-danger" ng-click="deleteJob(job.id)">Delete</button>
</td>

<tr>

</tbody>

</table>
</div></div>

















<!-- <div class="container">
<span style="color:red">{{error}}</span>



private char status;
	


	
	private String q_10;
	private String q_12;
	private String q_ug;
	position, vacancy


<form>
<div class="form-group">
Enter Job Title:
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
<input type="text" ng-model="job.jobTitle" placeholder="Enter Your Job Title" class="form-control">

</div>
</div>

<div class="form-group">
Enter Job Description:
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
<textarea ng-model="job.jobDescription" placeholder="Enter Your Job Description" class="form-control"></textarea>
</div></div>

<div class="form-group">
Enter the value SkillsRequried:
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
<input type="text" ng-model="job.skillsRequired" placeholder="Enter Your Job skills" class="form-control">
</div></div>

<div class="form-group">
Enter the value Salary:
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
<input type="text" ng-model="job.salary" placeholder="Enter salary" class="form-control">
</div></div>

<div class="form-group">
Enter the value Location
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
<input type="text" ng-model="job.location" placeholder="Enter Location" class="form-control">
</div>
</div>
<div class="form-group">
Enter Campany Name:
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
<input type="text" ng-model="job.companyname" placeholder="Enter Company Name" class="form-control">
</div></div>


<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Post Job" ng-click="addJob()">

</form>
</div>
<br><br>






<pre>
List of All Jobs
</pre>

<div ng-init=getAllJobs()>
<b>List Of Jobs</b>
<table class="table table-striped">
<thead>
<tr><th>Job Title</th><th>Job Package</th><th>Company name</th><th>Skills Required</th><th>Job Location</th><th>Posted On </th><th>Action</th></tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs">

<td>{{job.jobTitle}}</td>
<td>{{job.salary}}</td>
<td>{{job.companyname}}</td>
<td>{{job.skillsRequired }}</td>
<td>{{job.location}}</td>
<td>{{job.postedOn | date :'dd/MM/yy hh:mm'}}</td>
<td><button  ng-show="currentUser.role=='ADMIN'" class="btn btn-danger" ng-click="deleteJob(job.id)">Delete</button>
</td>

<tr>

</tbody>

</table>
</div>




<table class="table table-striped">
<thead>
<tr>
<th>JobTitle</th>
<th>PostedOn</th>
<th>SkillsRequired</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs">
<td><a href="" ng-click="getJobDetails(job.id)">{{job.jobTitle}}</a></td>
<td>{{job.postedOn | date: 'medium'}}</td>
<td>{{job.skillsRequired}}</td>

</tr>
</tbody>
</table>

<div ng-show="showJobDetails">

Job Details


<pre>
Job Title:{{job.jobTitle}}
job Description:{{job.jobDescription}}
job Skills Required:{{job.skillsRequired}}
job Salary:{{job.salary}}
job Location{{job.location}}
job Company Name{{job.companyname}}
job Posted On Date:{{job.postedOn}} 

</pre></div> -->