<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style type="text/css">
body
{
    background-image: url("image/admin.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-height: 100%;
    
    background-attachment: fixed;
}	
	
</style>
<!-- <center><input type="text" ng-model="searchTxt"><span class="glyphicon glyphicon-search"></span>Search Jobs</center><br>
<tr style="font: bold;"> -->

</head>
<body>

<div>
<div style="color:black; box-shadow: 5px 5px 5px #000;" >
<center><span ng-if="jobs.length==0"><b><h2><strong>No Job Available here </strong></h2></b></span></center>
</div>

<div ng-init=getAllJobs() ng-if="!jobs">
<h1 ng-if="!jobs"  style="text-align: center; color: #0000b3"><font face="Algerian"><b><strong>Available Jobs</strong></b></font></h1>
<br><br>


<center><input type="text" ng-model="searchTxt"><span class="glyphicon glyphicon-search"></span>Search Jobs</center><br>



<!-- <div style="color:black; box-shadow: 5px 5px 5px #000;" > -->


<div class="container" >
<div class="col-sm-12">

<table style="box-shadow: 5px 5px 5px #111; font: bold; color: black" ng-if="!jobs">
<thead>
<tr  style="font: bold;">
<th>Job Title</th><th>Skills Required</th><th>Posted On </th></tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:searchTxt">

<td><strong><b><h3><a href="" ng-click="getJobDetails(job.id)">{{job.jobTitle}}</a></h3></b></strong></td>

<td>{{job.skillsRequired }}</td>
<td>{{job.postedOn | date :'dd/MM/yy hh:mm'}}</td>

<tr>
</tbody>
</table></div></div>
</div></div>







<!-- <pre></pre> -->

<br>
<div ng-show="showJobDetails">
<h1 style="text-align: center; color: #0000b3"><font face="Algerian"><strong>Job Detail</strong></font></h1>
	<div class="container" >
	<div class="col-sm-12">
<table class="table" style="box-shadow: 5px 5px 5px #111; font: bold; color: black">
					<tr style="font: bold;">
						<td colspan="3"><h3><strong>{{job.title}}</strong></h3></td>
					</tr>
					<tr style="font: bold;">
						<td>Organization: {{job.companyname}}</td>
						<td>Position: {{job.position}}</td>
						<td>Location: {{job.location}}</td>
					</tr>
					<tr style="font: bold;">
						<td>Package: {{job.salary}}</td>
						<td>Job Status: OPEN</td>
						<td>Vacancies: {{job.vacancy}}</td>
						<td></td>
					</tr>
					<tr style="font: bold;">
						<td>Minimum 10th: {{job.q_10}}</td>
						<td>Minimum 12th: {{job.q_12}}</td>
						<td>Minimum UG %: {{job.q_ug}}</td>
					</tr>					
					<tr style="font: bold;">
						<td colspan="3">Description: {{job.jobDescription}}</td>
					</tr>
				
					<tr>
					
<!-- Job Title:{{job.jobTitle}}
job Description:{{job.jobDescription}}
job Skills Required:{{job.skillsRequired}}
job Salary:{{job.salary}}
job Location{{job.location}}
job Company Name{{job.companyname}}
job Posted On Date:{{job.postedOn}}  -->

<td colspan="3"><p style="text-align: right"><button type="submit" class="btn btn-primary" ng-click="applyNewJob()">Apply</button></td>
</tr></table>

</div></div></div>

</body></html>