<span ng-if="suggestedUsers.length==0"><b>No Any Suggestion Request</b></span>
<table class="table table-striped">
<tbody>
<tr ng-repeat="user in suggestedUsers">
<td>{{user.firstname}}</td>
<td>{{user.surname}}</td>
<td>{{user.role}}</td>
<td>{{user.email}}</td>
<td ng-if="user.isOnline">Yes</td>
<td ng-if="!user.isOnline">No</td>

<td><img alt="Image not Available" src="http://localhost:8084/RestController/getimage/{{user.username}}" 
              height="40px" width="40px">
              
<td><a class="btn btn-default" ng-click="sendFriendRequest(user.username)">Send Friend Request</a></td>
</tr>
</tbody>


</table>